{#
   This template renders the errors of a field.
   It assumes that the 'field' variable is available and contains the field object.
   The 'errors' variable must contain an array of error messages.
#}

{% set errors = field.errors|default([]) %}
{% if errors|length > 0 %}
    <ul class="list-unstyled mb-0">
        {% for error in errors %}
            <li><i class="fa-solid fa-exclamation-circle"></i> {{ error|raw }}</li>
        {% endfor %}
    </ul>
{% endif %}
