{#
   This template renders the closing form tag.
   It assumes that the 'form' variable is available and contains the form object.
#}

{% if options.render_rest|default(true) %}
    {{ form_rest(form) }}
{% endif %}
</form>
